absl_py==2.3.1+computecanada
accelerate==1.10.1+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.13.3+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
anthropic==0.84.0+computecanada
anyio==4.11.0
apache_tvm_ffi==0.1.8.post2+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
arrow==1.4.0
astor==0.8.1+computecanada
async_lru==2.0.5+computecanada
attrs==25.3.0+computecanada
av==15.1.0+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.14.2
bitsandbytes==0.47.0+computecanada
blake3==1.0.4+computecanada
bleach==6.3.0
cachetools==7.0.5
cbor2==5.8.0+computecanada
certifi==2025.8.3+computecanada
cffi==2.0.0+computecanada
charset_normalizer==3.4.3+computecanada
click==8.3.0+computecanada
cloudpickle==3.1.2+computecanada
compressed_tensors==0.13.0+computecanada
contourpy==1.3.1+computecanada
cryptography==46.0.3+computecanada
cuda_bindings==12.9.5+computecanada
cuda_pathfinder==1.4.1+computecanada
cuda_python==12.9.5+computecanada
cupy==14.0.1+computecanada
cut_cross_entropy==25.1.1+computecanada
cycler==0.12.1+computecanada
datasets==4.1.1
decord==0.6.0+computecanada
defusedxml==0.7.1+computecanada
depyf==0.20.0+computecanada
diffusers==0.37.0
dill==0.4.0+computecanada
diskcache==5.6.3+computecanada
distro==1.9.0+computecanada
dnspython==2.8.0+computecanada
docstring_parser==0.17.0+computecanada
einops==0.8.1+computecanada
email_validator==2.3.0+computecanada
fastapi==0.135.1+computecanada
fastapi-cloud-cli==0.14.1
fastapi_cli==0.0.24+computecanada
fastar==0.8.0+computecanada
fastjsonschema==2.21.2+computecanada
filelock==3.19.1+computecanada
flash_attn==2.8.3+torch29.computecanada
flashinfer_python==0.6.3+computecanada
fonttools==4.60.1+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.7.0+computecanada
fsspec==2025.9.0+computecanada
ftfy==6.3.1+computecanada
gguf==0.18.0+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.45+computecanada
google-genai==1.73.0
google_auth==2.49.2+computecanada
grpcio==1.76.0+computecanada
grpcio_reflection==1.76.0+computecanada
h11==0.16.0+computecanada
hf_transfer==0.1.9+computecanada
hf_xet==1.1.9+computecanada
httpcore==1.0.9+computecanada
httptools==0.6.4+computecanada
httpx==0.28.1+computecanada
httpx_sse==0.4.3+computecanada
huggingface-hub==1.0.0rc2
idna==3.10+computecanada
ijson==3.4.0.post0+computecanada
ImageIO==2.37.2
importlib_metadata==8.7.1+computecanada
importlib_resources==6.5.2+computecanada
interegular==0.3.3+computecanada
iopath==0.1.9+computecanada
ipympl==0.9.8+computecanada
isoduration==20.11.0+computecanada
jinja2==3.1.6+computecanada
jiter==0.6.1+computecanada
jmespath==1.1.0+computecanada
json5==0.12.1+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.3.0+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.28.0
kiwisolver==1.4.8+computecanada
lark==1.2.2+computecanada
lazy_loader==0.4+computecanada
llguidance==1.3.0+computecanada
llvmlite==0.44.0+computecanada
lm_format_enforcer==0.11.3+computecanada
loguru==0.7.3+computecanada
markdown==3.9+computecanada
markdown_it_py==4.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.1+computecanada
mcp==1.26.0+computecanada
mdurl==0.1.2+computecanada
medsam @ file:///project/6101850/emzed/med-align/MedSAM
mistral_common==1.9.1+computecanada
mistune==3.1.4+computecanada
model_hosting_container_standards==0.1.13+computecanada
monai==1.5.1
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
msgspec==0.19.0+computecanada
multidict==6.6.4+computecanada
multiprocess==0.70.16+computecanada
nbclient==0.10.2+computecanada
nbconvert==7.16.6+computecanada
nbformat==5.10.4+computecanada
networkx==3.5+computecanada
nibabel==5.3.2+computecanada
ninja==1.11.1+computecanada
notebook_shim==0.2.4+computecanada
numba==0.61.2+computecanada
numpy==1.26.4+computecanada
nvidia_cudnn_frontend==1.16.0+computecanada
nvidia_cutlass_dsl==4.3.5+computecanada
nvidia_ml_py==13.590.48+computecanada
openai==1.109.1
openai_harmony==0.0.4+computecanada
outlines_core==0.2.11+computecanada
overrides==7.7.0+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pandocfilters==1.5.1+computecanada
partial_json_parser==0.2.1.1.post7+computecanada
peft==0.18.1+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
portalocker==3.2.0+computecanada
prometheus_client==0.23.1+computecanada
prometheus_fastapi_instrumentator==7.1.0+computecanada
propcache==0.3.2+computecanada
protobuf==6.33.5+computecanada
psutil==7.2.2+computecanada
py_cpuinfo==9.0.0+computecanada
pyasn1==0.6.3+computecanada
pyasn1_modules==0.4.2+computecanada
pybase64==1.4.1+computecanada
pycocotools==2.0.6+computecanada
pycountry==26.2.16+computecanada
pycparser==2.23+computecanada
pydantic==2.12.5+computecanada
pydantic_core==2.41.5+computecanada
pydantic_extra_types==2.11.0+computecanada
pydantic_settings==2.13.1+computecanada
pyjwt==2.11.0+computecanada
pyparsing==3.2.5+computecanada
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.1.1+computecanada
python_json_logger==4.0.0+computecanada
python_multipart==0.0.22+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
qwen-vl-utils==0.0.13
ray==2.49.1+computecanada
referencing==0.37.0+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rich==14.3.3+computecanada
rich_toolkit==0.19.7+computecanada
rignore==0.6.2+computecanada
rpds_py==0.27.0+computecanada
safetensors==0.5.3+computecanada
scikit_image==0.25.2+computecanada
seaborn==0.13.2+computecanada
Send2Trash==1.8.3+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.38.0
setproctitle==1.3.7+computecanada
shellingham==1.5.4+computecanada
SimpleITK==2.3.1+computecanada
six==1.17.0+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
soupsieve==2.8+computecanada
sse_starlette==3.3.2+computecanada
starlette==0.52.1+computecanada
supervisor==4.3.0+computecanada
sympy==1.14.0+computecanada
tabulate==0.10.0+computecanada
tenacity==9.1.2+computecanada
tensorboard==2.20.0+computecanada
tensorboard_data_server==0.7.2+computecanada
terminado==0.18.1+computecanada
tifffile==2025.10.16
tiktoken==0.12.0+computecanada
timm==1.0.26
tinycss2==1.4.0+computecanada
tokenizers==0.22.1+computecanada
torch==2.9.0+computecanada
torchao==0.16.0
torchaudio==2.10.0+computecanada
torchvision==0.24.0+computecanada
tqdm==4.67.1+computecanada
transformers @ git+https://github.com/huggingface/transformers@242eb9cbdc2513d347fe528f4ff7111e90bb4372
triton==3.6.0+computecanada
trl==0.23.0
typeguard==4.5.1
typer==0.24.1+computecanada
typer-slim==0.19.2
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tyro==1.0.8
tzdata==2025.2+computecanada
unsloth==2026.3.4
unsloth_zoo==2026.3.2
uri_template==1.3.0+computecanada
urllib3==2.5.0+computecanada
uvicorn==0.41.0+computecanada
uvloop==0.22.1+computecanada
wandb==0.21.2+computecanada
watchfiles==1.1.1+computecanada
wcwidth==0.6.0+computecanada
webcolors==25.10.0
webencodings==0.5.1+computecanada
websocket-client==1.9.0
websockets==16.0+computecanada
werkzeug==3.1.3+computecanada
xformers==0.0.33.post1+computecanada
xgrammar==0.1.29+computecanada
xxhash==3.5.0+computecanada
yarl==1.20.1+computecanada
zipp==3.23.0+computecanada
